@use '../shared/styles/schedule';
@use '../shared/styles/shared';

@font-face {
  font-weight: 400;
  src: url('./fonts/Inconsolata-Regular.ttf') format('truetype');
  font-family: 'Airport';
}

.airport {
  &-container {
    &__controls {
      padding: 2 * shared.$step;

      .ant-select {
        min-width: 300px;
      }
    }

    &__flights,
    &__no-data {
      background-color: black;
      min-width: 900px;
      color: white;
    }

    &-flights {
      display: flex;
      justify-content: center;

      &__wrapper {
        padding: 2 * shared.$step;
        width: 1200px;
        font-family: Airport, monospace;

        & > .schedule {
          &__row {
            &_head {
              align-content: center;
              border-bottom: 3px solid #d8ba41;
              height: 48px;
              font-weight: bold;

              &:hover {
                box-shadow: none;
              }
            }

            &:last-child:not(:hover) {
              box-shadow: none;
            }
          }
        }
      }
    }

    &-no-data {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2 * shared.$step;
      font-family: Airport, monospace;

      &__icon {
        flex-shrink: 0;
        background: url('./assets/no-data-depression.svg') center no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
      }

      &__text {
        margin-left: 2 * shared.$step;

        &_bold {
          font-weight: bold;
        }
      }
    }
  }
}
